.ListRestaurants-container {
    display: flex;
}

.ListRestaurants-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y:scroll;
    overflow-x:hidden;
    height: 100vh;
}
